@media (min-width:768px) {
  .navbar-nav {
    float:right;
    margin:0;
  }
}

.sukses.img {
  vertical-align:middle;
  margin:auto;
  display:block;
}

.btnkembali {
  margin-top:30px;
  margin-bottom:30px;
  text-align:center;
}

.sukses.h1 {
  text-align:center;
}

.sukses.p {
  text-align:center;
}

.container-fluid {
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
  background-color:#f47cd0;
}

.navbar-default .navbar-nav > li > a {
  color:#ffffff;
}

body {
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.42857143;
  color:#333;
  background-color:#f7b9e4;
}

